In [1]:
import pandas as pd
import numpy as np

### Data import

In [26]:
vk_data = pd.read_csv("data/vehicle-kilometres_data.csv", sep=";", index_col="ID")
vk_meta = pd.read_csv("data/vehicle-kilometres_typ_meta.csv", sep=";", skiprows=1, index_col="Key")

vehicle_type = vk_data["TypesOfVehicle"].array.copy()
for i in range(len(vehicle_type)):
    vehicle_type[i] = vk_meta.loc[vehicle_type[i], "Title"]
    
vk_data["TypesOfVehicle_text"] = vehicle_type

cols = vk_data.columns.tolist()
cols = cols[0:1] + cols[-1:] + cols[1:-1]
vk_data = vk_data[cols]

display(vk_data)

,TypesOfVehicle,TypesOfVehicle_text,Periods,TotalKilometresInTheNetherlands_1,KilometresByDutchVehicles_2,KilometresByForeignVehicles_3,TotalKilometresByDutchVehicles_4,KilometresInTheNetherlands_5,KilometresAbroad_6
ID,,,,,,,,,
0,A018928,Total motor vehicles,1990JJ00,96353.0,91990.0,4365.0,102045.0,91990.0,10056.0
1,A018928,Total motor vehicles,1991JJ00,96465.0,91998.0,4465.0,104089.0,91998.0,12090.0
2,A018928,Total motor vehicles,1992JJ00,101215.0,96576.0,4639.0,108434.0,96576.0,11859.0
3,A018928,Total motor vehicles,1993JJ00,101037.0,96352.0,4685.0,109636.0,96352.0,13283.0
4,A018928,Total motor vehicles,1994JJ00,102798.0,97977.0,4820.0,112477.0,97977.0,14498.0
...,...,...,...,...,...,...,...,...,...
212,A018940,Bus,2016JJ00,611.3,.,.,656.7,.,.
213,A018940,Bus,2017JJ00,654.5,.,.,695.6,.,.
214,A018940,Bus,2018JJ00,664.8,.,.,706.4,.,.
215,A018940,Bus,2019JJ00,638.7,.,.,684.4,.,.
216,A018940,Bus,2020JJ00,507.7,.,.,523.2,.,.

In [37]:
ems_data = pd.read_csv("data/emissions_data.csv", sep=";", index_col="ID")
ems_source_meta = pd.read_csv("data/emissions_source_meta.csv", sep=";", skiprows=1, index_col="Key")
ems_emission_meta = pd.read_csv("data/emissions_emission_meta.csv", sep=";", skiprows=1, index_col="Key")

sources = ems_data["Sources"].array.copy()
emissions = ems_data["Emissions"].array.copy()
for i in range(len(sources)):
    sources[i] = ems_source_meta.loc[sources[i], "Title"]
    emissions[i] = ems_emission_meta.loc[emissions[i], "Title"]
    
ems_data["Sources_text"] = sources
ems_data["Emissions_text"] = emissions

cols = ems_data.columns.tolist()
cols = cols[0:1] + cols[-2:-1] + cols[1:2] + cols[-1:] + cols[2:-2]
ems_data = ems_data[cols]


display(ems_data)

,Sources,Sources_text,Emissions,Emissions_text,Periods,EmissionsDutchTerritory_1
ID,,,,,,
0,A025421,Total mobile sources,A044109,Carbon dioxide (CO2),1990JJ00,33400.0
1,A025421,Total mobile sources,A044109,Carbon dioxide (CO2),1991JJ00,33300.0
2,A025421,Total mobile sources,A044109,Carbon dioxide (CO2),1992JJ00,34600.0
3,A025421,Total mobile sources,A044109,Carbon dioxide (CO2),1993JJ00,34800.0
4,A025421,Total mobile sources,A044109,Carbon dioxide (CO2),1994JJ00,35400.0
...,...,...,...,...,...,...
7387,A025433,"Mobile machinery, other sectors",A044113,PM10 (Particulate matter),2017JJ00,0.2
7388,A025433,"Mobile machinery, other sectors",A044113,PM10 (Particulate matter),2018JJ00,0.2
7389,A025433,"Mobile machinery, other sectors",A044113,PM10 (Particulate matter),2019JJ00,0.2
7390,A025433,"Mobile machinery, other sectors",A044113,PM10 (Particulate matter),2020JJ00,0.2
7391,A025433,"Mobile machinery, other sectors",A044113,PM10 (Particulate matter),2021JJ00,0.2